.friend-container {
    width: 100%;
    padding: 40px;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	border-bottom: 1px solid gray;
	transition: background-color 0.2s ease-in-out;

	height: 150px;
}

.friend-container:hover {
	background-color: var(--transparent-hover);
    cursor: pointer;
}

.friend-container h3 {
    font-weight: normal;
}

.profile-pic-div .friends-profile-pic {
    width: 50px;
	height: 50px;
	border-radius: 50%;
    position: absolute;
    left: 20%;


}

.remove-friend-btn {
    width: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 25px;
    background-color: lightcoral;
    transition: background-color 0.1s ease-in-out;

}

.remove-friend-btn:hover {
    background-color: rgb(182, 98, 98);

}
