.friend-container {
    width: 80%;
    padding: 40px;
    /* padding-left: 19%; */
    margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	border-bottom: 1px solid gray;
	transition: background-color 0.2s ease-in-out;

	height: 150px;
    min-width: 570px;
}

.friend-container:hover {
	background-color: var(--transparent-hover);
    cursor: pointer;
}

#remove-friend {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.friend-container:hover #remove-friend {
    opacity: 1;
}

.friend-container h3 {
    font-weight: normal;
}

.friend-info {
    margin-left: 8%;
    font-size: 20px;
}


.profile-pic-div .friends-profile-pic {
    width: 50px;
	height: 50px;
	border-radius: 50%;
    position: absolute;
}



.remove-friend-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    transition: all 0.1s ease-in-out;
    background-color: transparent;
    margin: 20px;
}


.remove-friend-btn:hover {
    color: var(--red-salsa);
    cursor: pointer;
}
