.settle-up-container {
	position: absolute;
	z-index: 2;
	right: 3%;

}

.settle-up-container:hover ~ .bill-container {
	cursor: pointer;
}

#settle-up {
    color: var(--dark-green);
	background-color: transparent;
	font-size: 30px;
    border: none;
    /* border: 1px solid var(--dark-green);
    border-radius: 30px;
    padding: 0 15px; */
	transition: all 0.2s ease-in-out;

}

#settle-up:hover {
	cursor: pointer;
	color: var(--dark-green);

	transform: scale(1.2);
}

.fa-money-bill-wave {
	padding-right: 5px;
}











.bde-settle-up-modal-btn > #settle-up {
    font-size: 25px;
    position: absolute;
    right: -10%;
    z-index: 2;
}

.settle-up-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    padding: 40px;
    height: 300px;
}

.settle-up-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.settle-up-dollar-sign {
    font-size: 70px;
}

input#settle-up-input {
    border-radius: 5px;
	border: 0.5px solid black;
	padding: 5px 5px 5px 55px;
    height: 100px;
    font-size: 70px;
    width: 400px;

}

.settle-up-submit-btn {
    background-color: var(--dark-green);
    border: var(--dark-green);
    color: var(--main-container);
    border-radius: 30px;
    padding: 10px 0;
    font-size: 18px;

    transition: all 0.2s ease-in-out;

}

.settle-up-submit-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
