.dashboard-container {
    display: grid;
    grid-template-columns: 15% 85%;
}

.dash-and-main-container {
    display: grid;
}

.dash-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.all-tabs-container {
    display: flex;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
}

.tab-container {
    padding: 0 50px;
}

.main-container {
    padding: 40px;

    background-color: var(--main-container);
}
