.dashboard-container {
	display: grid;
	grid-template-columns: 350px 1fr;
	grid-template-areas: "side main";
	min-height: 100%;
	background-color: var(--dark-blue);
}

.dash-and-main-container {
	display: grid;
	grid-template-rows: 100px 1fr;
	background-color: var(--main-container);
	padding: 50px 0;
	grid-area: main;
}

.dash-nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.all-tabs-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--side-panel);
	border-radius: 25px;

	font-size: 24px;
	color: var(--main-container);

	background-color: var(--side-panel);
}

.tab-container {
	padding: 0 50px;
	border-radius: 25px;
}

.main-container {
	padding: 0 40px 40px 40px;
}

.active-tab {
	font-weight: bold;
	background-color: var(--main-container);
	border-radius: 25px;
}

.active-tab > .tab-container > i {
	color: var(--side-panel);
}
