nav {
	background-color: var(--dark-blue);
	display: flex;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
	align-items: center;
	color: #fff;
	height: 10vh;
	min-height: 80px;
}

.splash-content {
	background: var(--dark-blue);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 80%;
	max-height: 79vh;
	min-height: 300px;
}

.gif {
	height: 200px;
	width: 500px;
	background-image: url("../assets/blue-bg-gif.gif");
}

.user-actions {
	display: flex;
	justify-content: space-around;
	width: 150px;
}

.login-signup:hover {
	/* padding-top: -1px; */
	font-weight: bolder;
	border-bottom: 1px solid var(--saffron-yellow);
	color: var(--saffron-yellow);
	margin-bottom: -1px;
	cursor: pointer;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: fit-content;
	min-height: 10vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--main-container);
	padding: 10px;
}

/* .test {
	font-size: 42px;
	color: transparent;
	background: linear-gradient(
		to right,
		#97d2fb,
		#e1eff6,
		#83bcff,
		#eccbd9,
		#80ffe8
	);
	background-clip: text;
} */

.links-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 80%;
}

.individual-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links > a > i {
	font-size: 28px;
	padding: 4px 8px;
}
.links > a > i:hover {
	font-weight: bold;
	border-bottom: 1px solid black;
	margin-bottom: -1px;
}

.start-split-button {
	border: 1px solid var(--main-container);
	background-color: var(--main-container);
	color: var(--dark-blue);
	transition: background-color 0.2s ease-in-out;
	transition: color 0.1s ease-in-out;
	padding: 8px 40px;
	border-radius: 40px;
}

.start-split-button:hover {
	cursor: pointer;
	border: 1px solid var(--main-container);
	background-color: var(--dark-blue);
	color: var(--main-container);
}
