nav {
	background-color: var(--dark-blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	height: 10%;
	min-height: 80px;
}

.splash-content {
	background: var(--dark-blue);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80%;
	min-height: 400px;
}

.gif {
	height: 200px;
	width: 500px;
	background-image: url("../assets/blue-bg-gif.gif");
}

.user-actions {
	display: flex;
	justify-content: space-around;
	width: 150px;
}

.login-signup:hover {
	padding-top: -1px;
	font-weight: bolder;
	border-bottom: 1px solid #fff;
	cursor: pointer;
}

footer {
	min-height: 80px;
	width: 100%;
	display: flex;
	justify-content: center;
	border-top: 1px solid var(--saffron-yellow);
	align-items: center;
	background-color: var(--dark-blue);
}
svg:hover {
	cursor: pointer;
}
