nav {
	/* background-color: rgba(var(--nav-yellow), 0.9); */
	background-color: rgba(0, 0, 0, 0.25);

	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-around;
	/* padding-left: 30px;
	padding-right: 30px; */
	align-items: center;
	color: #fff;
	/* height: 10vh; */
	height: 80px;
	/* z-index: 1000; */
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.splash-content {
	/* position: absolute;
	top: 120px; */
	margin-top: 80px;
	margin-bottom: 132px;
	background: var(--dark-blue);
	background-image: url("../assets/double.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80%;
	max-height: 79vh;
	min-height: 300px;
}

/* .duck-div {
	width: 400px;
	left: 0;
	object-fit: contain;
	height: 400px;
} */

.user-actions {
	display: flex;
	justify-content: space-around;
	width: 150px;
	font-size: 18px;
}

.login-signup:hover {
	/* padding-top: -1px; */
	font-weight: bolder;
	border-bottom: 1px solid var(--saffron-yellow);
	color: var(--saffron-yellow);
	margin-bottom: -1px;
	cursor: pointer;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--main-container);
	padding: 10px;
}

/* .test {
	font-size: 42px;
	color: transparent;
	background: linear-gradient(
		to right,
		#97d2fb,
		#e1eff6,
		#83bcff,
		#eccbd9,
		#80ffe8
	);
	background-clip: text;
} */

.links-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 80%;
}

.individual-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links > a > i {
	font-size: 28px;
	padding: 4px 8px;
}
.links > a > i:hover {
	font-weight: bold;
	border-bottom: 1px solid black;
	margin-bottom: -1px;
}

.start-split-button {
	color: var(--dark-blue);
	border: 1px solid var(--saffron-yellow);
	background-color: var(--saffron-yellow);
	transition: all 0.2s ease-in-out;
	padding: 8px 40px;
	border-radius: 40px;
}

.start-split-button:hover {
	/* border: 1px solid var(--main-container);
	background-color: var(--main-container); */
	/* transform: scale(1.2); */
	cursor: pointer;
	color: var(--dark-blue);
	animation: bounce 0.5s ease-in-out infinite;
}
@keyframes bounce {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
.words-wrapper {
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: var(--main-container);
	color: var(--dark-blue);
	margin-left: auto;
	margin-right: auto;
	border-radius: 22px;
	margin-bottom: 80px;
	/* margin-top: -20%; */
	box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
	padding: 40px 0px;
	height: 100px;
	width: 500px;
	overflow: hidden;
	font-size: 80px;
}
.words-wrapper > p {
	/* font-family: Optima; */
}
.words-wrapper > div > span {
	/* font-family: Optima; */
	display: flex;
	flex-direction: column;
	height: 200%;
	width: fit-content;
	text-align: left;
	padding-left: 18px;
	margin-right: auto;
	color: var(--saffron-yellow);
	font-size: 80px;
	animation: spin_words 10s infinite;
}

@keyframes spin_words {
	0% {
		transform: translateY(-100%);
	}
	7.15% {
		transform: translateY(-100%);
	} /* rent*/
	14.3% {
		transform: translateY(-100%);
	}
	21.5% {
		transform: translateY(-201%);
	} /* meal*/
	28.6% {
		transform: translateY(-200%);
	}
	35.8% {
		transform: translateY(-301%);
	} /* tab*/
	43% {
		transform: translateY(-300%);
	}
	50% {
		transform: translateY(-401%);
	} /* trip*/
	57% {
		transform: translateY(-400%);
	}
	65% {
		transform: translateY(-501%);
	} /* ride*/
	72% {
		transform: translateY(-500%);
	}
	80% {
		transform: translateY(-601%);
	} /* bill*/
	87% {
		transform: translateY(-600%);
	}
	93% {
		transform: translateY(-101%);
	} /* rent*/
	100% {
		transform: translateY(-100%);
	}
}
