.transaction-record-detail-container {
	margin: 0 auto;
    padding: 40px;
	position: relative;
	display: flex;
	align-items: center;
	width: 75%;
	border-bottom: 1px solid gray;
	transition: background-color 0.2s ease-in-out;

	height: 100px;
	min-width: 760px;
}

.transaction-record-detail-container:hover {
	cursor: default;
}

.transaction-record-detail-container img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.record-date {
	margin: auto;
	position: relative;
	left: 20%;

}

.record-text {
	padding-left: 60px;
	display: flex;
	justify-content: center;
}

.record-text h3 {
	font-weight: normal;
}


.negative-payment {
    color: var(--red-salsa);
}

.positive-payment {
    color: var(--dark-green);
}

h2#nothing-to-see {
	padding: 50px 100px;
}
