.transaction-record-detail-container {
    padding-bottom: 40px;
}

.record-date {
    font-weight: bold;
}


.negative-payment {
    color: var(--red-salsa);
}

.positive-payment {
    color: var(--dark-green);
}
