.modal-head {
	font-family: var(--brand-font);
	font-weight: 700;
	font-size: 25px;
	color: var(--dark-blue);
	padding-bottom: 10px;
}

.login-form {
	width: 100%;
	height: fit-content;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-element-container {
	padding: 10px;
}


.login-form > .login-element-container > input {
	width: 280px;
	height: 35px;
	/* margin: 5px; */
	font-size: 18px;
	border: 1px solid var(--jet-grey);
	border-radius: 7px;
	padding: 4px 10px;
}

.login-form > button {
	width: 200px;
	/* height: 30px; */
	color: var(--dark-blue);
	padding: 5px 30px;
	font-weight: bold;
	font-size: 17px;
	background-color: var(--saffron-yellow);
	/* border: 1px solid var(--jet-grey); */
	border: none;
	border-radius: 40px;
	/* margin: 20px auto 0px auto; */
	margin: 5px 0;
	transition: all 0.2s ease-in-out;
}

.login-form > button:hover {
	transform: scale(1.1);
	cursor: pointer;
	background-color: var(--dark-blue);
	color: var(--main-container);
	/* border: 2px solid var(--dark-blue); */
	/* transition: background-color 0.2s ease-in-out; */
}
