@import url("https://use.typekit.net/kyk0anv.css"); /* proxima */

@import url("https://use.typekit.net/yoq5jqy.css");
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Bubblegum+Sans&family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Redressed&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Lexend+Deca&family=Mukta&display=swap');



/*
font-family: 'Oleo Script', cursive;
font-family: 'Redressed', cursive;
font-family: 'Satisfy', cursive;

font-family: 'Boogaloo', cursive;
font-family: 'Bubblegum Sans', cursive;
font-family: 'Francois One', sans-serif;

font-family: "utopia-std",serif;
font-family: "abril-text",serif;
font-family: "abril-fatface",serif;
font-family: "utopia-std-headline",serif;
font-family: "utopia-std-subhead",serif;
font-family: "mixta-pro",serif;
font-family: "mixta-didone",serif;


font-family: 'ABeeZee', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Mukta', sans-serif


*/



:root {
	--base-font: proxima-nova, sans-serif;
	/* --base-font: mixta-pro, serif; */
	--side-panel: #1d3461;
	--side-panel-font-color: #ebebd3;
	--main-container: #ebebd3;
	/* --splittabill-yellow: #eac33556; */
	--transparent-hover: #3c3c3b16;
	--red-salsa: #fb3640;
	--dark-green: #1c6200;
	--dark-blue: #1d3461;
	--light-blue: #1f487e;
	--saffron-yellow: #eac435;
	--nav-yellow: 234, 196, 53;
	--jet-grey: hsl(60, 1%, 23%);

	--brand-font: 'Mukta', sans-serif;
}

*,
body,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: proxima-nova, sans-serif;
	/* font-family: 'Mukta', sans-serif; */
}

body,
html {
	height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--brand-font);
}

.brand-font {
	font-family: var(--brand-font);
}


a,
a:hover,
a:visited,
a:active {
	color: inherit;
	text-decoration: none;
}

.whole-page-container {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: var(--dark-blue);
}

.bold {
	font-weight: bold;
}

.errors-container {
	color: var(--red-salsa);
	font-size: 12px;
	padding-left: 3px;
}

.form-container > h3 {
	position: absolute;
	top: 10%;
	left: 23%;
}

.form-container {
	position: relative;
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 250px;
}

.form-container.bill-form {
	justify-content: space-evenly;
	align-items: center;

	min-height: 400px;
	min-width: 600px;

	width: fit-content;
	height: fit-content;

	position: relative;
}

.form-input-container {
	padding-right: 30px;
}



.form-element.form-friends-list {
	border-left: 1px solid gray;
	padding-left: 20px;
	padding-bottom:10px;

	position: relative;
	height: fit-content;
	width: 100%;
	min-width: fit-content;
	display: flex;
}

.form-element {
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.form-element > input {
	border-radius: 5px;
	border: 0.5px solid black;
	padding-left: 10px;
}

.form-label {
	font-weight: bold;
	padding-bottom: 5px;
}

.dollar-sign-and-input {
	display: flex;
	align-items: center;
	width: 280px;
	position: relative;
}

.dollar-sign-and-input > input {
	width: 100%;
	padding-left: 25px;
	border-radius: 5px;
	border: 0.5px solid black;
}

.dollar-sign {
	font-size: 20px;
	position: absolute;
	z-index: 200;
	left: 10px;
}

.form-label.form-label-friends {
	padding-bottom: 20px;
	width: 100%;
}


.friend-name-checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	padding-left: 10px;
}

.friend-name-checkbox-container:hover {
	background-color: rgba(0, 0, 0, 0.151);
}

.form-friend-name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.friend-name {
	padding-right: 20px;
}

/* .comment-pic-div.split-with-pic {
	margin-left: 20px;
} */

.friends-checkboxes {
	padding-right: 20px;
}

.form-input {
	height: 30px;
	padding: 5px;
	font-size: 18px;
}


.bill-btn-container {
	/* width: 170px; */
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 20px;
	flex-direction: column;
}

.btn-container {
	width: 100%;
	padding: 5px 0;
}

.bill-form-submit-btn,
.bill-form-delete-btn {
	width: 100%;
	padding: 5px 0;
	border-radius: 20px;
	font-size: 18px;
	transition: all 0.2s ease-in-out;
}

.bill-form-submit-btn {
	color: var(--dark-blue);
	background-color: var(--saffron-yellow);
	border: var(--saffron-yellow);

}

.bill-form-delete-btn {
	background-color: var(--red-salsa);
	color: var(--main-container)
}


.bill-form-submit-btn:hover,
.bill-form-delete-btn:hover {
	cursor: pointer;
	transform: scale(1.05);

}

.bill-form-submit-btn:disabled {
	opacity: 50%;
}

.bill-form-submit-btn:disabled:hover {
	cursor: not-allowed;
	transform: none;
}
