.error-page-container {
	/* background: linear-gradient(var(--main-container), var(--dark-blue)); */
	/* background: var(--main-container); */
	background-color: var(--dark-blue);
	background-image: url("../../assets/white-geo.svg");
	background-size: 105px 100px;
	background-position: center;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	overflow-y: scroll;
}

.error-code-message {
	width: 525px;
	background-color: var(--main-container);
	border-radius: 40px;
	margin: auto;
	box-shadow: 0 40px 200px rgba(0, 0, 0, 0.5);
}

h2.error-code {
	font-size: 150px;
	color: var(--dark-blue);
	width: 100%;
	text-align: left;
	padding: 0 80px;
}
h2.error-message,
h3.error-message {
	color: var(--dark-blue);
	width: 100%;
	padding: 0 80px;
}

a > h2.home-link {
	color: var(--dark-blue);

	width: fit-content;
	padding: 0 20px;
	margin: 80px 80px;
	background-color: var(--saffron-yellow);
	border-radius: 40px;
	transition: all 0.2s ease-in-out;
}
a > h2.home-link:hover {
	transform: scale(1.1);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}
