.all-bills-container {
    position: relative;

    display: flex;
    flex-direction: column;
}

.add-bill-button-container {
    position: absolute;
    top: 0;
    right: 0;
}

.bill-container {
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid gray;
    transition: background-color 0.2s ease-in-out;
}

.bill-container:hover {
    background-color: rgb(230, 191, 94);
    cursor: pointer;
}

.bill-left-side {
    display: flex;
    align-items: center;
}

.profile-pic-div.bill-pic {
    width: 50px;
    height: 50px;
}

.bill-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.edit-delete-bill-buttons-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}


.settled-true {
    color: green;
}

.settled-false {
    color: red;
}
