.all-bills-container {
    position: relative;

    display: flex;
    flex-direction: column;
}

.add-bill-button-container {
    position: absolute;
    top: 0;
    right: 0;
}

.bill-container {
    padding: 40px;
    border: 1px solid red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bill-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.edit-delete-bill-buttons-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}


.settled-true {
    color: green;
}

.settled-false {
    color: red;
}
