.comment-user-image-container,
.comment-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;

}

.edit-delete-wrapper {
	display: flex;
	flex-direction: row-reverse;
}

.comment-container {
	border: 1px solid var(--dark-blue);
	max-width: 300px;
	width: max-content;
	overflow-wrap: break-word;
	margin: 4px;
	border-radius: 20px;
	padding: 2px 10px 2px 5px;
	display: flex;
	justify-content: space-between;
	background-color: var(--transparent-hover);
}

.comment-message {
	padding-left: 10px;
}

/* .comment-container:hover #delete-comment {
	display: inherit;
	transition: display 0.2s ease-in-out;
} */
button#edit-comment,
button#delete-comment {
	margin: 0px 4px;
}

.comment-pic-div {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.comment-pic-div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.friend-pic {
	height: 100%;
	position: absolute;
}
.comment-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* padding: 10px; */
	padding-top: 10px;
	margin-bottom: -30px;
	border-top: 1px dashed var(--dark-blue);

	position: relative;

}
.comment-input {
	width: 100%;
	height: 50px;
	resize: none;
	font-size: 15px;
	padding: 10px;

	border-radius: 10px;
}

.add-comment-button {
	padding: 4px 8px;
	margin: 10px 0 0 0;
	border-radius: 10px;

	align-self: flex-start;
}
.comment-wrapper {
	padding: 2px;
}

.all-comments {
	max-height: 300px;
	overflow-y: scroll;
	margin: 10px 0px;
	padding: 10px 0;
}
.all-comments > h3 {
	text-align: center;
	padding-bottom: 15px;
}
.delete-comment-icon,
.edit-comment-icon {
	font-size: 12px;
	margin: 4px;

	transition: all 0.2s ease-in-out;
}
.edit-comment-icon {
	color: rgb(98, 98, 98);
}
.delete-comment-icon {
	color: var(--red-salsa);
	z-index: 900;
	transition: all 0.2s ease-in-out;
}

.delete-comment-icon:hover {
	font-size: 14px;
	cursor: pointer;
}
.edit-comment-icon:hover {
	font-size: 14px;
	cursor: pointer;
}

.delete-confirmation-container-comment {
	width: 410px;
	padding: 40px;
}


#delete-comment {
	transition: all 0.2s ease-in-out;
}




.edit-form-container {
	display: flex;
	flex-direction: column;
	width: 400px;
	align-items: center;
}

.edit-comment-header {
	align-self: flex-start;
	padding: 0 0 10px 5px;
	font-size: 18px;
}

.ef-input-container {
	padding-bottom: 20px;
}

.ef-comment-input {
	width: 340px;
	height: 80px;
	padding: 10px 15px;
	border-radius: 10px;
	font-size: 14px;
}

.ef-btn-container {
	display: flex;
	justify-content: space-around;
	width: 320px;
}

.form-delete-btn#ef-submit-btn {
	background-color: var(--saffron-yellow);
	border: var(--saffron-yellow);
	color: var(--dark-blue);
}

.ef-submit-btn:hover,
.ef-cancel-btn:hover,
.add-comment-button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.add-comment-button {
	border-radius: 20px;
	padding: 5px 15px;
	background-color: var(--saffron-yellow);
	border: var(--saffron-yellow);
	color: var(--dark-blue);
	transition: all 0.2s ease-in-out;
}

.add-comment-button:disabled {
	opacity: 50%;
}

.add-comment-button:disabled:hover {
	cursor: not-allowed;
	transform: none;
}
