.side-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;

    background-color: var(--side-panel);

}

.pic-and-name-div {
    display: flex;
    align-items: center;
}

.profile-pic-div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-pic {
    height: 100%;
    position: absolute;
}
